.searchForm {
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    padding: 25px;
    border: red 5px solid;
    border-radius: 25px;
    color:  #4CAF50;
}

.btn2 {
    background-color: #4CAF50;
    border-radius: 25px;
}

.btn2:hover {
    color:#BBBBBB;
    border-color:#BBBBBB;
    cursor: pointer;
}